<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">PANEL</a>
    </div>
</nav>
<div class="container">


    <div class="row">
        <div class="col s12">
            <div class="card-panel white center-align">
                <h3>RELAY NAME</h3>
                <p>The siren will be disabled automatically after 5 minutes.<br>
                    Current state: <span class="green-text">Disabled</span>
                </p>
                <a class="red darken-1 waves-effect waves-light btn-large" style="margin-bottom: 5px"><i class="material-icons left">check</i>ENABLE</a>
                <a class="green waves-effect waves-light btn-large" style="margin-bottom: 5px"><i class="material-icons left">clear</i>DISABLE</a>
            </div>
        </div>
    </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>